#switch{
	position: relative;
	left: 48% 
}
body {
  /*font: 10px sans-serif;*/
  padding-top: 70px;
}

.histogramButtons{
  float: right;

}
#dateselect{
  text-align: center;
}
#back,#cur_date,#next{
  display: inline;
}
#navreferences{
  float: right;
}

  
